body.light {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}

body.dark {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}

.bg-on-dark {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}

.bg-on-light {
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}

input {
  border: none;
  outline: none;
}

select {
  border: none;
  outline: none;
}

select:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.custom-col {
  margin-bottom: 25px;
}

.custom-col > div {
  margin-right: 25px;
}


/*
- Very Dark Blue (Light Mode Text): 
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)
*/