body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: black;
  color: white;
}

input {
  border: none;
  outline: none;
}

select {
  border: none;
  outline: none;
}

select:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
